html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 90px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 90px;
    padding: 5px, 5px, 0px, 5px;
}

.page-header {
    margin-top: 20px;
}

.custom-file-input ~ .custom-file-label::after {
    content: "Найти";
}