{% extends "base.html" %}

{% load staticfiles %}

{% block header-links %}
    <script src="{% static "js/chart.bundle.js" %}"></script>
    <script src="{% static "js/chart.utils.js" %}"></script>
    <script src="{% static "js/Chart.js" %}"></script>
    <script src="{% static "js/scatter.js" %}"></script>
    <script src="{% static "js/linear_regression.js" %}"></script>
    <script src="{% static "js/polynomial.js" %}"></script>
    <script src="{% static "js/analysis_manager.js" %}"></script>
    <script>
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })
    </script>
{% endblock %}


{% block content %}
    <main role="main" class="container">
        <div class="container">
            <div class="page-header" id="banner">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 text-center">
                        <h1>Анализ данных</h1>
                    </div>
                </div>
            </div>
            <input type="hidden" value="{{ data_id }}" id="data_id"/>
            <div class="content">
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a class="nav-link active" data-toggle="tab" href="#scatter" id="scatter_tab">Диаграмма
                            рассеяния</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#linear_regression" id="linear_regr_tab">Линейная
                            регрессия</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#poly_regression" id="poly_regr_tab">Полиномиальная
                            регрессия</a>
                    </li>
                </ul>
                <div id="myTabContent" class="tab-content">
                    <div class="tab-pane fade show active" id="scatter">
                        <br/>
                        <div>
                            <div class="float-left">
                                <label for="in_select" class="control-label">X: &nbsp;&nbsp;</label>
                                <select class="selectpicker" data-live-search="true" data-done-button="true"
                                        id="in_select">
                                </select>
                            </div>
                            <div class="float-right">
                                <label for="out_select" class="control-label">Y: &nbsp;&nbsp;</label>
                                <select class="selectpicker" data-live-search="true" data-done-button="true"
                                        id="out_select">
                                </select>
                            </div>
                        </div>
                        <canvas id="scatterPlot" width="400" height="400"></canvas>
                    </div>
                    <div class="tab-pane fade" id="linear_regression">
                        <br/>
                        <div id="messageHolder">

                        </div>
                        <div>
                            <div class="float-left">
                                <label for="in_select2" class="control-label">X: &nbsp;&nbsp;</label>
                                <select class="selectpicker" data-live-search="true" data-done-button="true"
                                        id="in_select2" multiple="multiple">
                                </select>
                            </div>
                            <div class="float-right">
                                <label for="out_select2" class="control-label">Y: &nbsp;&nbsp;</label>
                                <select class="selectpicker" data-live-search="true" data-done-button="true"
                                        id="out_select2">
                                </select>
                            </div>
                        </div>
                        <br/>
                        <br/>
                        <br/>
                        <br/>
                        <div class="row text-center">
                            <div class="col-md-6">
                                <h5 data-toggle="tooltip" data-placement="right" title=""
                                    data-original-title="Числовое соотношение между величинами, выраженное в виде тенденции к возрастанию (или убыванию) одной переменной величины при возрастании (убывании) другой.">
                                    Уравнение регрессии</h5>
                                <hr/>
                            </div>
                            <div class="col-md-6">
                                <h5 id="regression_equation" data-toggle="tooltip" data-placement="top" title=""
                                    data-original-title=""></h5>
                                <hr/>
                            </div>

                            <div class="col-md-6">
                                <h5 data-toggle="tooltip" data-placement="right" title=""
                                    data-original-title="Принимает значения от 0 до 100%. Чем ближе значение коэффициента к 100%, тем сильнее зависимость. При оценке регрессионных моделей это интерпретируется как соответствие модели данным. Для приемлемых моделей предполагается, что коэффициент детерминации должен быть хотя бы не меньше 50%.">
                                    Коэффициент детерминации (R<sup>2</sup>)</h5>
                                <hr/>
                            </div>
                            <div class="col-md-6">
                                <h5 id="r_squared" data-toggle="tooltip" data-placement="top" title=""
                                    data-original-title=""></h5>
                                <hr/>
                            </div>

                            <div class="col-md-6">
                                <h5 data-toggle="tooltip" data-placement="right" title=""
                                    data-original-title="Коэффициент детерминации, скорректированный на число факторов, и не чувствительный к числу регрессоров.">
                                    Скорректированный коэффициент детерминации (Adj. R<sup>2</sup>)</h5>
                                <hr/>
                            </div>
                            <div class="col-md-6">
                                <h5 id="adj_r_squared" data-toggle="tooltip" data-placement="top" title=""
                                    data-original-title=""></h5>
                                <hr/>
                            </div>

                            <div class="col-md-6">
                                <h5 data-toggle="tooltip" data-placement="right" title=""
                                    data-original-title="Используется для тестирования автокорреляции первого порядка элементов исследуемой последовательности.">
                                    <span class="text-muted">Автокорреляция: </span>Критерий Дарбина — Уотсона</h5>
                                <hr/>
                            </div>
                            <div class="col-md-6">
                                <h5 id="durbin_watson" data-toggle="tooltip" data-placement="top" title=""
                                    data-original-title=""></h5>
                                <hr/>
                            </div>

                            <div class="col-md-6">
                                <h5 data-toggle="tooltip" data-placement="right" title=""
                                    data-original-title="Процедура проверки автокорреляции произвольного порядка в случайных ошибках регрессионных моделей. Представлено F-значение.">
                                    <span class="text-muted">Автокорреляция: </span> Тест Бройша — Годфри</h5>
                                <hr/>
                            </div>
                            <div class="col-md-6">
                                <h5 id="breusch_godfrey" data-toggle="tooltip" data-placement="top" title=""
                                    data-original-title=""></h5>
                                <hr/>
                            </div>

                            <div class="col-md-6">
                                <h5 data-toggle="tooltip" data-placement="right" title=""
                                    data-original-title="Проверка ошибкок наблюдений на нормальность.">
                                    <span class="text-muted">Нормальность: </span> Тест Харке — Бера</h5>
                                <hr/>
                            </div>
                            <div class="col-md-6">
                                <h5 id="jarque_bera" data-toggle="tooltip" data-placement="top" title=""
                                    data-original-title=""></h5>
                                <hr/>
                            </div>

                            <div class="col-md-6">
                                <h5 data-toggle="tooltip" data-placement="right" title=""
                                    data-original-title="Проверка наличия гетероскедастичности случайных ошибок регрессионной модели.">
                                    <span class="text-muted">Гетероскедатичность: </span>Тест Бройша — Пагана</h5>
                                <hr/>
                            </div>
                            <div class="col-md-6">
                                <h5 id="breusch_pagan" data-toggle="tooltip" data-placement="top" title=""
                                    data-original-title=""></h5>
                                <hr/>
                            </div>

                            <br/>
                            <br/>
                            <div class="col-md-12">
                                <table class="table" id="paramsTable">
                                    <thead class="thead-dark">
                                    <tr>
                                        <th scope="col"></th>
                                        <th scope="col">Коэффициент</th>
                                        <th scope="col">Стандартная ошибка</th>
                                        <th scope="col">t - значение</th>
                                        <th scope="col">p - значение</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="poly_regression">
                        <br/>
                        <div>
                            <div class="float-left">
                                <label for="in_select3" class="control-label">X: &nbsp;&nbsp;</label>
                                <select class="selectpicker" data-live-search="true" data-done-button="true"
                                        id="in_select3">
                                </select>
                                &nbsp;&nbsp;&nbsp;
                                <label for="degreeInput" class="control-label">Степень: &nbsp;&nbsp;</label>
                                <select class="selectpicker" data-done-button="true" id="degreeInput">
                                    <option>1</option>
                                    <option>2</option>
                                    <option>3</option>
                                    <option>4</option>
                                    <option>5</option>
                                    <option>6</option>
                                    <option>7</option>
                                    <option>8</option>
                                    <option>9</option>
                                    <option>10</option>
                                </select>
                            </div>
                            <div class="float-right">
                                <label for="out_select3" class="control-label">Y: &nbsp;&nbsp;</label>
                                <select class="selectpicker" data-live-search="true" data-done-button="true"
                                        id="out_select3">
                                </select>
                            </div>
                        </div>
                        <canvas id="polyScatter" width="400" height="400"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}