{% extends "base.html" %}

{% load staticfiles %}

{% block header-links %}
    <script src="{% static "js/chart.bundle.js" %}"></script>
    <script src="{% static "js/chart.utils.js" %}"></script>
    <script src="{% static "js/Chart.js" %}"></script>
    <script src="{% static "js/scatter.js" %}"></script>
    <script src="{% static "js/linear_regression.js" %}"></script>
    <script src="{% static "js/analysis_manager.js" %}"></script>
    <script>
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })
    </script>
{% endblock %}


{% block content %}
    <main role="main" class="container">
        <div class="container">
            <div class="page-header" id="banner">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 text-center">
                        <h1>Анализ данных</h1>
                    </div>
                </div>
            </div>
            <input type="hidden" value="{{ data_id }}" id="data_id"/>
            <div class="content">
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a class="nav-link active" data-toggle="tab" href="#scatter" id="scatter_tab">Диаграмма
                            рассеяния</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#linear_regression" id="linear_regr_tab">Линейная
                            регрессия</a>
                    </li>
                </ul>
                <div id="myTabContent" class="tab-content">
                    <div class="tab-pane fade show active" id="scatter">
                        <br/>
                        <div>
                            <div class="float-left">
                                <label for="in_select" class="control-label">X: &nbsp;&nbsp;</label>
                                <select class="selectpicker" data-live-search="true" data-done-button="true"
                                        id="in_select">
                                </select>
                            </div>
                            <div class="float-right">
                                <label for="out_select" class="control-label">Y: &nbsp;&nbsp;</label>
                                <select class="selectpicker" data-live-search="true" data-done-button="true"
                                        id="out_select">
                                </select>
                            </div>
                        </div>
                        <canvas id="scatterPlot" width="400" height="400"></canvas>
                    </div>
                    <div class="tab-pane fade" id="linear_regression">
                        <br/>
                        <div id="messageHolder">

                        </div>
                        <div>
                            <div class="float-left">
                                <label for="in_select2" class="control-label">X: &nbsp;&nbsp;</label>
                                <select class="selectpicker" data-live-search="true" data-done-button="true"
                                        id="in_select2">
                                </select>
                            </div>
                            <div class="float-right">
                                <label for="out_select2" class="control-label">Y: &nbsp;&nbsp;</label>
                                <select class="selectpicker" data-live-search="true" data-done-button="true"
                                        id="out_select2">
                                </select>
                            </div>
                        </div>
                        <br/>
                        <br/>
                        <br/>
                        <br/>
                        <div class="row text-center">
                            <div class="col-md-6">
                                <h5 data-toggle="tooltip" data-placement="right" title=""
                                    data-original-title="">
                                    Уравнение регрессии</h5>
                                <hr/>
                            </div>
                            <div class="col-md-6">
                                <h5 id="regression_equation" data-toggle="tooltip" data-placement="top" title=""
                                    data-original-title=""></h5>
                                <hr/>
                            </div>

                            <div class="col-md-6">
                                <h5 data-toggle="tooltip" data-placement="right" title=""
                                    data-original-title="Принимает значения от 0 до 100%. Чем ближе значение коэффициента к 100%, тем сильнее зависимость. При оценке регрессионных моделей это интерпретируется как соответствие модели данным. Для приемлемых моделей предполагается, что коэффициент детерминации должен быть хотя бы не меньше 50%">
                                    Коэффициент детерминации (R<sup>2</sup>)</h5>
                                <hr/>
                            </div>
                            <div class="col-md-6">
                                <h5 id="r_squared" data-toggle="tooltip" data-placement="top" title=""
                                    data-original-title=""></h5>
                                <hr/>
                            </div>

                            <div class="col-md-6">
                                <h5>Скорректированный коэффициент детерминации (Adj. R<sup>2</sup>)</h5>
                                <hr/>
                            </div>
                            <div class="col-md-6">
                                <h5 id="adj_r_squared" data-toggle="tooltip" data-placement="top" title=""
                                    data-original-title=""></h5>
                                <hr/>
                            </div>

                            <div class="col-md-6">
                                <h5 data-toggle="tooltip" data-placement="right" title=""
                                    data-original-title="Используется для тестирования автокорреляции первого порядка элементов исследуемой последовательности.">
                                    Критерий Дарбина — Уотсона</h5>
                                <hr/>
                            </div>
                            <div class="col-md-6">
                                <h5 id="durbin_watson" data-toggle="tooltip" data-placement="top" title=""
                                    data-original-title=""></h5>
                                <hr/>
                            </div>

                            <div class="col-md-6">
                                <h5 data-toggle="tooltip" data-placement="right" title=""
                                    data-original-title="">
                                    Тест Бройша — Годфри</h5>
                                <hr/>
                            </div>
                            <div class="col-md-6">
                                <h5 id="breusch_godfrey" data-toggle="tooltip" data-placement="top" title=""
                                    data-original-title=""></h5>
                                <hr/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}