{% extends "base.html" %}
{% load staticfiles %}

{% block header-links %}
    <script src="{% static "js/model.js" %}"></script>
{% endblock %}

{% block content %}
    <main role="main" class="container">
        <div class="container-fluid">
            <div class="page-header" id="banner">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 text-center">
                        <h1>Сохраненная модель</h1>
                    </div>
                </div>
            </div>
            <div class="content">
                <input type="hidden" id="inputs" value="{{ model.ds_in_cols }}">
                <input type="hidden" id="outputs" value="{{ model.ds_out_cols }}">
                <input type="hidden" id="ml_id" value="{{ model.id }}">

                <div class="row justify-content-md-center">
                    <div class="col-md-8 justify-content-center">
                        <h4>Входные параметры: </h4>
                        <ul class="list-group">
                            {% for col in model.ds_in_cols %}
                                <li class="list-group-item d-flex justify-content-between align-items-center">{{ col }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                <br/>
                <div class="row justify-content-md-center">
                    <div class="col-md-8 justify-content-center">
                        <h4>Выходные параметры: </h4>
                        <ul class="list-group">
                            {% for col in model.ds_out_cols %}
                                <li class="list-group-item d-flex justify-content-between align-items-center">{{ col }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                <br/>
                <div class="row justify-content-md-center">
                    <div class="col-md-8 justify-content-center">
                        <h4>Дата создания: </h4>
                        <p>{{ model.creation_time }}</p>
                    </div>
                </div>
                <br/>
                <div class="row justify-content-md-center">
                    <div class="col-md-8 text-center">
                        <h3>Прогнозирование значений</h3>
                    </div>
                </div>
                <br/>
                <div class="row justify-content-md-center">
                    <div class="col-md-4 justify-content-center">
                        <h4>Значения входных параметров: </h4>
                        {% for col in model.ds_in_cols %}
                            <label class="col-form-label" for="in{{ col }}">{{ col }}</label>
                            <input type="text" class="form-control" id="in{{ col }}"/>
                        {% endfor %}
                    </div>
                    <div class="col-md-4 justify-content-center">
                        <h4>Значения выходных параметров: </h4>
                        {% for col in model.ds_out_cols %}
                            <label class="col-form-label" for="out{{ col }}">{{ col }}</label>
                            <input type="text" class="form-control" id="out{{ col }}" readonly=""/>
                        {% endfor %}
                    </div>
                </div>
                <br/>
                <div class="row justify-content-md-center">
                    <div class="col-md-8 text-center">
                        <button class="btn btn-success" id="predict_btn">Прогноз</button>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}