{% extends "base.html" %}
{% block header-links %}
    <script>
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })
    </script>
{% endblock %}

{% block content %}
    <main role="main" class="container">
        <div class="container">
            <div class="page-header" id="banner">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 text-center">
                        <h1>Наборы данных</h1>
                    </div>
                </div>
            </div>
            <div class="content">
                {% if dataset %}
                    {% for ds in dataset %}
                        <div class="col-md-8 offset-md-2">
                            <form method="POST">
                                {% csrf_token %}
                                <input type="hidden" name="ds_id" value="{{ ds.id }}"/>
                                <button class="btn btn-outline-danger float-right"><span
                                        aria-hidden="true">&times;</span>
                                </button>
                            </form>
                            <h4><a href="/data/dataset/{{ ds.id }}">{{ ds.name }}</a> &nbsp; &nbsp; &nbsp;
                                <a href="/data/analysis/{{ ds.id }}" class="btn btn-outline-success btn-sm"
                                   data-toggle="tooltip" data-placement="top" title=""
                                   data-original-title="Построить регрессионные модели для данного набора данных."><i
                                        class="fas fa-chart-line"></i></a>
                                &nbsp; &nbsp; &nbsp;
                                {#                                <a href="/data/columns/dataset/{{ ds.id }}" class="btn btn-outline-success btn-sm"#}
                                {#                                   data-toggle="tooltip" data-placement="top" title=""#}
                                {#                                   data-original-title="Посмотреть информацию о наборе данных."><i#}
                                {#                                        class="fas fa-chart-bar"></i></a>#}
                            </h4>
                            <p class="text-secondary">{{ ds.upload_time }}</p>
                        </div>
                        <hr>
                    {% endfor %}
                {% else %}
                    <div class="col-md-8 offset-md-2">
                        <h4>На данный момент у вас нет наборов данных :(</h4>
                        <h5>Вы можете добавить наборы данных <a href="/data/load">здесь</a></h5>
                    </div>
                {% endif %}
            </div>
        </div>
    </main>
{% endblock %}