{% extends "base.html" %}
{% load staticfiles %}

{% block header-links %}
    <script src="{% static "js/settings.js" %}"></script>
    <script>
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })
    </script>
{% endblock %}

{% block content %}
    <main role="main" class="container">
        <div class="container-fluid">
            <div class="page-header" id="banner">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 text-center">
                        <h3>Настройки по-умолчанию</h3>
                    </div>
                </div>
            </div>
            <div class="content">
                {% if message %}
                    <div id="messageHolder">
                        <div class="alert alert-dismissible alert-{{ message_class }}">
                            <button type="button" class="close" data-dismiss="alert">&times;</button>
                            <p class="mb-0">{{ message }}</p>
                        </div>
                    </div>
                {% endif %}
                <form method="POST">
                    {% csrf_token %}
                    <div class="row justify-content-md-center">
                        <div class="col-md-8 justify-content-center">
                            <label for="thresholdInput" class="col-form-label">Граница уникальных значений
                                шкалы (определение категориальной шкалы):</label>
                            <input type="number" class="form-control" required id="thresholdInput"
                                   value="{{ settings.unique_values_threshold }}" name="unique_values_threshold"/>
                            <div class="invalid-feedback">Неправильный формат</div>
                        </div>
                    </div>
                    {#                    <br/>#}
                    {#                    <div class="row justify-content-md-center">#}
                    {#                        <div class="col-md-8 justify-content-center">#}
                    {#                            <label for="highlightLimit" class="col-form-label">Количество подсвечиваемых моделей в#}
                    {#                                анализе:</label>#}
                    {#                            <input type="number" class="form-control" required id="highlightLimit"#}
                    {#                                   value="{{ settings.highlightLimit }}" name="highlightLimit"/>#}
                    {#                            <div class="invalid-feedback">Неправильный формат</div>#}
                    {#                        </div>#}
                    {#                    </div>#}
                    {#                    <br/>#}
                    {#                    <div class="row justify-content-center">#}
                    {#                        <div class="col-md-8 justify-content-center">#}
                    {#                            <label for="pValueInput" class="col-form-label">P-значение:</label>#}
                    {#                            <input type="text" class="form-control" readonly="" id="pValueInput"#}
                    {#                                   value="{{ settings.p_value }}" name="p_value"/>#}
                    {#                            <div class="invalid-feedback">Неправильный формат</div>#}
                    {#                        </div>#}
                    {#                    </div>#}
                    <br/>
                    <div class="row justify-content-center">
                        <div class="col-md-8 justify-content-center">
                            <label for="nnMinHiddenValInput" class="col-form-label">Минимальное количество нейронов на
                                скрытом слое:</label>
                            <input type="number" class="form-control" required id="nnMinHiddenValInput"
                                   value="{{ settings.nn_hidden_min }}" name="nn_hidden_min"/>
                            <div class="invalid-feedback">Неправильный формат</div>
                        </div>
                    </div>
                    <br/>
                    <div class="row justify-content-center">
                        <div class="col-md-8 justify-content-center">
                            <label for="nnMaxHiddenValInput" class="col-form-label">Максимальное количество нейронов на
                                скрытом слое:</label>
                            <input type="number" class="form-control" required id="nnMaxHiddenValInput"
                                   value="{{ settings.nn_hidden_max }}" name="nn_hidden_max"/>
                            <div class="invalid-feedback">Неправильный формат</div>
                        </div>
                    </div>
                    <br/>
                    <div class="row justify-content-center">
                        <div class="col-md-8 justify-content-center">
                            <label for="polyMinDegreeInput" class="col-form-label">Минимальная степень в полиномиальной
                                регрессии:</label>
                            <input type="number" class="form-control" required id="polyMinDegreeInput"
                                   value="{{ settings.poly_min }}" name="poly_min"/>
                            <div class="invalid-feedback">Неправильный формат</div>
                        </div>
                    </div>
                    <br/>
                    <div class="row justify-content-center">
                        <div class="col-md-8 justify-content-center">
                            <label for="polyMaxDegreeInput" class="col-form-label">Максимальная степень в полиномиальной
                                регрессии:</label>
                            <input type="number" class="form-control" required id="polyMaxDegreeInput"
                                   value="{{ settings.poly_max }}" name="poly_max"/>
                            <div class="invalid-feedback">Неправильный формат</div>
                        </div>
                    </div>
                    <br/>
                    <div class="row justify-content-center">
                        <div class="col-md-8 justify-content-center">
                            <button id="saveSettingsBtn" class="btn btn-outline-primary float-right">Сохранить</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </main>
{% endblock %}